<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Data Source=ServerName; Initial Catalog=DatabaseName; User Id:=Username; Password=UserPassword;"/>
	</appSettings>

	<connectionStrings>
		<add name="Course20_Test" connectionString="Data Source=.; Initial Catalog=Course20_Test; User Id:=sa; Password=123456;"/>
	</connectionStrings>
</configuration>